.formContainer{
    width: 350px;
    margin: 50px 35%;
    box-shadow: 1px 1px 8px 0.2px black;
    
}
input{
    display: block;
    margin: 10px;
    padding: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 10px;
    text-align: center;
}